---

---

<div id="container" class="bg-neutral-950">
  <main>
    <div class="m-auto">
    	<h1>Hello Goldbert...</h1>
    </div>
  </main>
</div>

<style>
  #container {
    font-family:
      Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
      sans-serif;
    height: 100%;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    color: oklch(96.2% 0.059 95.617);
  }

  h1 {
    font-size: var(--text-4xl);
  }

  @media screen and (max-height: 368px) {
    #news {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }
  }
</style>
