---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Fot from "../components/Fot.astro";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>burgiHub</title>
  </head>
  <body class="flex min-h-screen flex-col bg-neutral-950 text-[var(--fg)]">
    <Nav />
    <main class="grid flex-1 place-items-center px-4">
      <slot />
    </main>
    <Fot />
  </body>
</html>
